*{
    font-family: 'Caviar Dreams';
}

@font-face {
    font-family: 'Caviar Dreams';
    src: url('font/CaviarDreams.ttf') format('truetype');
 }


/*html {
    font-size: 17px;
}*/

.bg-old,
body {
    background: #fffff6;
    padding: 0;
}

.fw-black {
    font-weight: 900 !important;
}

/*HEADER*/
header{
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

/*TITOLO*/
.title{
    text-align: center;
    background: linear-gradient(to bottom, orange, rgb(255, 203, 107), rgb(255, 246, 230));
    padding: 1px 0;
}

.wb_logo{
    width: 110px;
    height: 110px;
    position: absolute;
    left: 15%;
    top: 15%;
}

.wb_logo img{
    width: 100%;
    height: 100%;
}
.wb_title{
    position: relative;
    color: rgb(255, 255, 255);
}

/*NAVBAR*/

.navb{
    width: 100%;
    height: auto;
    background-color: white;
    border: 0.5px solid rgb(255, 235, 199);
}
nav{
    width: 50%;
    margin: 0 auto;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
}
nav li{
    font-size: 18px;
    text-transform: uppercase;
    position: relative;
}
nav a{
    color: #000000;
    text-decoration: none;
    display: inline-block;
    padding: 0 15px;
    cursor: pointer;
    font-weight: bold;
}
nav li::after{
    content: '';
    position: absolute;
    top: 35px;
    left: 0;
    width: 0;
    height: 3px;
    background-color: orange;
    transition: .3s;
}

nav li:hover::after{
    width: 100%;
}
nav a:hover{
    color: #000000;
}

.active a{
    color: orange;
    background-color: #fffff6;
}
/*SECTION*/
#container{
    width: 70%;
    margin-top: 255px;
    padding: 2% 15%;
}

.cont-admin{
    width: 70%;
    margin-top: 310px;
    padding: 2% 15%;
}

/*FOOTER*/

footer{
	border-top: 1px solid #C99D66; /* primary-color */
	text-align:center;
	padding:30px 10px;
	line-height: 1.6em;
	font-size:0.8em;
	background-color: #B3453E;/* primary color*/
	color: #fff;
}

footer{
	border-top: 1px solid #C99D66;
	text-align:center;
	padding:30px 10px;
	line-height: 1.6em;
	font-size:0.8em;
	background-color: #B3453E;
	color: #fff;
}

footer a{
	color:#F0776C;
}
	
footer a:hover{
	color:#FF968C;
}

/*CONTATTACI*/
#contact{
    height: auto;
    width: 100%;
    padding: 1% 0;
}
#contact h1{
	text-align: center;
}

#uni{
    width: 100%;
    height: auto;
    text-align: center;
}

#uni #maps{
    margin: 2% 5% 0 5%;
    width: 90%;
    height: 400px;
}

#uni i{
    font-size: 30px;
    position: relative;
    right: 150px;
    top: 20px;
}

#uni p{
    margin: 0;
}

#autori{
    width: 100%;
    height: 10%;
}
.autori{
    display: inline-block;
    width: 24%;
    height: auto;
    text-align: center;
}
.autori a{
    text-decoration: none;
}

.autori i{
    font-size: 20px;
    margin-right: 5px;
}

.autori p{
    font-weight: bold;
}
/*AZIENDE*/
#azienda{
    margin-top: 40px;
    width: 94%;
    height: auto;
    border: 6px solid orange;
    border-radius: 50px;
    padding: 50px 2.5% 0px 2.5%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: opacity(80%);
}

#azienda #high_c{
    width: 100%;
    height: 75px;
}

#azienda #low_c{
    width: 100%;
    height: 200px;
    margin-top: 100px;
}

#azienda #end_c{
    width: 100%;
    height: 80px;
    text-align: center;
    padding-top: 27.5px;
}

#azienda #high_c h1{
    font-size: 40px;
    position: relative;
    text-align: center;
    margin-right: 75px;
    font-weight: bold;
}
#azienda #high_c #immagine-azienda{
    width: 75px;
    height: 75px;
    position: absolute;
    border: 0.5px solid orange;
    margin-left: 3.5%;
}

#azienda #high_c img{
    width: 100%;
    height: 100%;
}

#azienda #low_c #slot{
    position: relative;
    float: left;
    width: 30%;
    height: 200px;
    border: 0.5px solid orange;
    border-radius: 10px;
    margin-left: 1.25%;
    margin-right: 1.25%;
    text-align: center;
    background-color: white;
}

#azienda #low_c #slot p{
    margin: 15px 0 0 0;
}

#azienda #low_c #slot a{
    text-decoration: none;
}

#azienda #end_c a{
    background-color: rgb(255, 102, 0);
    border-radius: 10px;
    border: 0.5px solid grey;
    padding: 1%;
    text-decoration: none;
    color: white;
}

/*FAQ*/

#faq{
    padding: 3% 6% 0 6%;
}

#faq h1{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

#faq #question{
    text-align: left;
    width: 70%;
    height: auto;
    padding: 0 15%;
    margin-bottom: 30px;
}

#question .domanda{
    border: 3px solid orange;
    width: 98%;
    height: auto;
    padding: 0 1%;
    border-radius: 10px;
}

.domanda h1{
    margin: 0;
}

.domanda i{
    position: relative;
    float: right;
    bottom: 47px;
    font-size: 30px;
    right: 10px;
    cursor: pointer;
}

#question .risposta{
    border: 0.5px solid orange;
    width: 98%;
    height: auto;
    padding: 0 1%;
    display: none;
    border-radius: 10px;
}

/*CATALOGO*/

#filter {
    border: 6px solid orange;
    text-align: center;
    width: 96%;
    height: auto;
    padding: 10px 2%;
    border-radius: 10px;
    margin-bottom: 40px; 
}

#filter-azienda {
    margin: 0 auto;
}

.filtro{
    width: 200px;
    height: 30px;
    border: 0.5px solid orange;
}

.filtro:focus{
    outline: none;
    border: 0.5px solid orange;
}

.catalogo{
    margin-top: 10px;
    width: 70%;
    height: auto;
    border: 6px solid orange;
    padding: 10px 15% 40px 15%;
    border-radius: 10px;
    text-align: center;
    background-color: white;
}

.catalogo .name_a{
    width: 100%;
    height: 50px;
    text-align: center;
}

.name_a h1{
    font-size: 40px;
    font-weight: bold;
}

.catalogo .promo{
    width: 50%;
    height: auto;
    border: 0.5px solid orange;
    border-radius: 20px;
    margin-top: 20px;
    padding: 2% 25%;
    filter: opacity(70%);
    text-align: center;
    background-color: rgb(255, 245, 226);
}
.info{
    width: 98%;
    height: auto;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 1.5% 1%;
    border: 0.5px solid orange;
    border-radius: 20px;
    margin-bottom: 20px;
}
.coup{
    width: 92%;
    height: 200px;
    padding: 4%;
}

.coup img{
    width: 100%;
    height: 100%;
}

.catalogo .promo h2{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin: 0;
}

.catalogo .promo #desc_off{
    font-size: 20px;
}

.catalogo .promo button{
    text-decoration: none;
    color: white;
    background-color: #F0776C;
    font-size: 20px;
    padding: 5px;
    border: 0.5px solid grey;
    margin-top: 20px;
}

.catalogo .promo button:hover{
    color: #F0776C;
    background-color: white;
}

.catalogo .promo .disabilita-bottone{
    color: white;
    background-color: grey;
    pointer-events: none;
    opacity: 5;
    text-decoration: line-through;
    margin-top: 20px;
    border-radius: 10px;
}
.catalogo.hidden {
    display: none;
}

.add{
    width: 50px;
    padding: 6px;
    border: none;
    background-color: orange;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.add i{
    color: white;
    font-size: 35px;
}

.offmod{
    display: inline-block;
    width: 50px;
    padding: 6px;
    border: none;
    background-color: orange;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px
}
.offmod i{
    color: white;
    font-size: 35px;
}

/*AREA RISERVATA UTENTE*/

#us_ar{
    width: 100%;
    height: 800px;
    background-image: url("../images/arearis.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: opacity(80%);
}

#us_ar #dati{
    position: absolute;
    margin: 20% 25%;
    width: 50%;
    height: auto;
    border: 7px solid orange;
    padding: 5px 0px 20px 20px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.9);
}

#us_ar #dati h1{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

#us_ar #dati p{
    margin: 0;
    opacity: none;
}

#us_ar #dati #edit{
    position: relative;
    font-size: 30px;
    float: right;
    top: 35px;
    right: 25px;
    color: black;
    cursor: pointer;
}
#us_ar #dati #tel{
    position: relative;
    font-size: 22px;
    float: left;
    color: orange;
    margin-right: 10px;
}
#us_ar #dati #mail{
    position: relative;
    font-size: 22px;
    float: left;
    color: orange;
    margin-right: 10px;
}

#us_ar #dati a{
    position: relative;
    left: 38%;
    color: rgb(255, 102, 0);
    font-weight: bold;
}

.row{
    content: " ";
    display: table;
    
}

.row .col
{
    position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
/* Slideshow container */
.slideshow-container {
    max-width: 400px;
    position: relative;
    margin: auto;
  }
  
  .slideshow-container .mySlides.fade {
    max-width: 400px;
    position: relative;
    margin: auto;
    height: 400px; /* Aggiungi questa riga per impostare l'altezza fissa */
  }
  
  .slideshow-container .mySlides.fade img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Aggiungi questa riga per ridimensionare le immagini mantenendo l'aspetto corretto */
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #000000;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 2}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  }

  /*COUPON*/
.contenuto{
    position: relative;
    text-align: center;
    border: 1px solid black;
    width: 26%;
    height: auto;
    margin: 50px 30%;
    padding: 2% 7%;
}

.contenuto h1{
    font-size: 60px;
}

.contenuto h2{
    font-size: 50px;
}

/*LOGIN, REGISTRAZIONE, MODIFICA DATI, AGGIUNTA*/
#autorizzazione{
    padding: 5% 32%;
    margin: 0;
    text-align: center;
}

.log{
    width: 100%;
    height: auto;
    border: 6px solid orange;
    background-color: #fffff6;
    border-radius: 20px;
    padding-bottom: 20px;
}

.log-head{
    width: 99%;
    height: auto;
    background-color: orange;
    margin: 0;
    padding: 0.5%;
}

.log-head h1{
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.log-form{
    width: 100%;
    height: auto;
}

.log-slot{
    width: 80%;
    height: auto;
    padding: 10px 10%;
    text-align: left;
}

.log-slot .label-input{
    font-size: 20px;
}

.log-slot i{
    font-size: 35px;
}

.log-slot .in-box{
    display: block;
    border: none;
    border-bottom: 2px solid orange;
    border-radius: 10px;
    width: 100%;
    height: 20px;
    padding: 10px 5px;
    background-color: rgba(255, 165, 0, 0.2);
    font-size: 17px;
    margin-top: 10px;
    resize: none;
}



.in-box:focus{
    outline: none;
}

#genere{
    display: block;
    border: none;
    border-bottom: 2px solid orange;
    border-radius: 10px;
    width: 103%;
    height: 45px;
    padding: 10px 5px;
    background-color: rgba(255, 165, 0, 0.2);
    font-size: 17px;
    margin-top: 10px;
}
#genere:focus{
    outline: none;
}

.log-sub{
    margin: 10px 10% 20px 10%;
    width: 82%;
    height: auto;
    font-size: 30px;
    font-weight: bold;
    background-color: orange;
    border: none;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
    color: white;
}

.log-form a{
    color: black;
    font-size: 17px;
}

.back{
    width: 50px;
    padding: 6px;
    border: none;
    background-color: orange;
    position: relative;
    right: 80%;
    margin-bottom: 40px;
    border-radius: 5px;
    cursor: pointer;
}
.back i{
    color: white;
    font-size: 35px;
}

.send{
    width: 50px;
    padding: 6px;
    border: none;
    background-color: orange;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

.send i{
    color: white;
    font-size: 35px;
}

.log-sel{
    display: block;
    border: none;
    border-bottom: 2px solid orange;
    border-radius: 10px;
    width: 103%;
    height: 45px;
    padding: 10px 5px;
    background-color: rgba(255, 165, 0, 0.2);
    font-size: 17px;
    margin-top: 10px;
}

.log-sel:focus{
    outline: none;
}

.log-slot img{
    width: 100%;
    height: auto;
    margin-top: 10px;
}

/*STATISTICHE*/

.stats{
    width: 86%;
    height: auto;
    padding: 2% 7%;
    border: 3px solid orange;
    border-radius: 20px;
    text-align: center;
}
.stats h1{
    font-size: 40px;
    font-weight: bold;
    margin: 0 0 10px 0;
}

.mid{
    width: 100%;
    height: auto;
    text-align: left;
}
.mid p{
    font-size: 20px;
}
.option{
    width: 100%;
    height: auto;
}

.option #couponId, #utenteId{
    display: inline-block;
    border: none;
    border-bottom: 2px solid orange;
    border-radius: 10px;
    width: 20%;
    height: 45px;
    padding: 10px 5px;
    background-color: rgba(255, 165, 0, 0.2);
    font-size: 17px;
    text-align: center;
}

.option #utente, #offerta{
    display: inline-block;
    font-size: 20px;
    margin-left: 15px;
}

.option #couponId, #utenteId:focus{
    outline: none;
}