*{
    font-family: 'Caviar Dreams';
}

@font-face {
    font-family: 'Caviar Dreams';
    src: url('font/CaviarDreams.ttf') format('truetype');
 }


/*html {
    font-size: 17px;
}*/

.bg-old,
body {
    background: #fffff6;
    padding: 0;
}

.fw-black {
    font-weight: 900 !important;
}

/*HEADER*/
header{
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

/*TITOLO*/
.title{
    text-align: center;
    background: linear-gradient(to bottom, orange, rgb(255, 203, 107), rgb(255, 246, 230));
    padding: 1px 0;
}

.wb_logo{
    width: 110px;
    height: 110px;
    position: absolute;
    left: 15%;
    top: 15%;
}

.wb_logo img{
    width: 100%;
    height: 100%;
}
.wb_title{
    position: relative;
    color: rgb(255, 255, 255);
}

/*NAVBAR*/

.navb{
    width: 100%;
    height: auto;
    background-color: white;
    border: 0.5px solid rgb(255, 235, 199);
}
nav{
    width: 50%;
    margin: 0 auto;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
}
nav li{
    font-size: 18px;
    text-transform: uppercase;
    position: relative;
}
nav a{
    color: #000000;
    text-decoration: none;
    display: inline-block;
    padding: 0 15px;
    cursor: pointer;
    font-weight: bold;
}
nav li::after{
    content: '';
    position: absolute;
    top: 35px;
    left: 0;
    width: 0;
    height: 3px;
    background-color: orange;
    transition: .3s;
}

nav li:hover::after{
    width: 100%;
}
nav a:hover{
    color: #000000;
}

.active a{
    color: orange;
    background-color: #fffff6;
}
/*SECTION*/
#container{
    width: 70%;
    margin-top: 270px;
    padding: 0 15%;
}

/*FOOTER*/

footer{
	border-top: 1px solid #C99D66; /* primary-color */
	text-align:center;
	padding:30px 10px;
	line-height: 1.6em;
	font-size:0.8em;
	background-color: #B3453E;/* primary color*/
	color: #fff;
}

footer{
	border-top: 1px solid #C99D66;
	text-align:center;
	padding:30px 10px;
	line-height: 1.6em;
	font-size:0.8em;
	background-color: #B3453E;
	color: #fff;
}

footer a{
	color:#F0776C;
}
	
footer a:hover{
	color:#FF968C;
}

/*CONTATTACI*/
#contact{
	padding-top: 20px;
}
#contact h1{
	text-align: center;
}
#contact #uni{
    width:50%;
    height: 445px;
    display: inline-block;
    padding-left: 16%;
}

#contact #uni img{
    width: 300px;
    height: 300px;
    position: relative;
}

#contact #uni a{
    font-size: 20px;
    position: relative;
    font-weight: bold;

}

#contact #autori{
    width: 40%;
    height: 445px;
    display: inline;
    float:right;
}

#contact #autori h2{
    font-size: 30px;
    position: relative;
    font-weight: bold;
}
#contact #autori a{
    font-size: 17px;
    position: relative;
    font-weight: bold;
}
#contact #autori p{
    margin-bottom: 1%;
    font-size: 20px;
    position: relative;
    font-weight: bold;
}
#contact #autori button{
    font-size: 20px;
    position: relative;
    font-weight: bold;
}


/*AZIENDE*/
#azienda{
    margin-top: 40px;
    width: 100%;
    height: auto;
    border: 6px solid orange;
    border-radius: 50px;
    padding: 50px 3% 0px 3%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: opacity(80%);
}

#azienda #high_c{
    width: 100%;
    height: 75px;
}

#azienda #low_c{
    width: 100%;
    height: 200px;
    margin-top: 100px;
    padding-left: 2.5%;
}

#azienda #end_c{
    width: 100%;
    height: 80px;
    text-align: center;
    padding-top: 27.5px;
}

#azienda #high_c h1{
    font-size: 40px;
    position: relative;
    text-align: center;
    margin-right: 75px;
    font-weight: bold;
}
#azienda #high_c img{
    width: 75px;
    height: 75px;
    position: relative;
    border: 0.5px solid orange;
    float: left;
}

#azienda #low_c #slot{
    position: relative;
    float: left;
    width: 30%;
    height: 200px;
    border: 0.5px solid orange;
    border-radius: 10px;
    margin-left: 1.25%;
    margin-right: 1.25%;
    text-align: center;
    background-color: white;
}

#azienda #low_c #slot p{
    margin: 15px 0 0 0;
}

#azienda #low_c #slot a{
    text-decoration: none;
}

#azienda #end_c a{
    background-color: rgb(42, 187, 170);
    border-radius: 10px;
    border: 0.5px solid grey;
    padding: 1%;
    text-decoration: none;
    color: white;
}  

/*FAQ*/

#faq{
    padding: 3% 6% 0 6%;
}

#faq h1{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

#faq #question{
    text-align: left;
    width: 70%;
    height: auto;
    border: 3px solid black;
    padding: 0 15%;
}
#question .domanda{
    border: 3px solid orange;
    width: 98%;
    height: auto;
    padding: 0 1%;
    border-radius: 20px;
}
.domanda h1{
    margin: 0;
}

.domanda i{
    position: relative;
    float: right;
    bottom: 47px;
    font-size: 30px;
    right: 10px;
    cursor: pointer;
}

#question .risposta{
    border: 3px solid orange;
    border-top: none;
    width: 98%;
    height: auto;
    padding: 0 1%;
    display: none;
}
/*#faq #question h2{
    text-align: left;
    font-size: 30px;
    font-weight: bold;
    border-left: 5px solid rgb(69, 175, 241);
    background-color: rgb(224, 224, 224);
    margin-bottom: 0%;
}
#faq #question p{
    font-size: 20px;
    text-align:justify;
    border-left: none none none;
    background-color: rgb(243, 241, 241);
    margin-bottom: 0.5%;
}

/*CATALOGO*/

#filter {
    border: 6px solid orange;
    text-align: center;
    width: 100%;
    height: auto;
    padding: 10px 2%;
    border-radius: 10px;
    margin-bottom: 40px; 
}

#filter-azienda {
    margin: 0 auto;
}

.filtro{
    width: 200px;
    height: 30px;
    border: 0.5px solid orange;
}

.filtro:focus{
    border: 0.5px solid orange;
}

.catalogo{
    margin-top: 10px;
    width: 74%;
    height: auto;
    border: 6px solid orange;
    padding: 10px 15% 40px 15%;
    border-radius: 10px;
    text-align: center;
    background-color: white;
}

.catalogo .name_a{
    width: 100%;
    height: 50px;
    text-align: center;
}

.name_a h1{
    font-size: 40px;
    font-weight: bold;
}

.catalogo .promo{
    width: 50%;
    height: auto;
    border: 0.5px solid orange;
    border-radius: 20px;
    margin-top: 20px;
    padding: 2% 25%;
    filter: opacity(70%);
    text-align: center;
    background-color: rgb(255, 245, 226);
}
.info{
    width: 98%;
    height: auto;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 1.5% 1%;
    border: 0.5px solid orange;
    border-radius: 20px;
}
.coup{
    width: 92%;
    height: 200px;
    padding: 4%;
}

.coup img{
    width: 100%;
    height: 100%;
}

.catalogo .promo h2{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin: 0;
}

.catalogo .promo #desc_off{
    font-size: 20px;
}

.catalogo .promo button{
    text-decoration: none;
    color: white;
    background-color: #F0776C;
    font-size: 20px;
    padding: 5px;
    border: 0.5px solid grey;
    margin-top: 20px;
}

.catalogo .promo button:hover{
    color: #F0776C;
    background-color: white;
}

.catalogo .promo .disabilita-bottone{
    color: white;
    background-color: grey;
    pointer-events: none;
    opacity: 5;
    text-decoration: line-through;
    margin-top: 20px;
    border-radius: 10px;
}
.catalogo.hidden {
    display: none;
}

/*AREA RISERVATA UTENTE*/

#us_ar{
    width: 100%;
    height: 800px;
    background-image: url("../images/arearis.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: opacity(80%);
}

#us_ar #dati{
    position: absolute;
    margin: 20% 25%;
    width: 50%;
    height: auto;
    border: 7px solid orange;
    padding: 5px 0px 20px 20px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.9);
}

#us_ar #dati h1{
    text-align: center;
}

#us_ar #dati p{
    margin: 0;
    opacity: none;
}

#us_ar #dati #edit{
    position: relative;
    font-size: 25px;
    float: right;
    top: 5px;
    right: 20px;
    color: orange;
    cursor: pointer;
}
#us_ar #dati #tel{
    position: relative;
    font-size: 22px;
    float: left;
    color: orange;
    margin-right: 10px;
}
#us_ar #dati #mail{
    position: relative;
    font-size: 22px;
    float: left;
    color: orange;
    margin-right: 10px;
}

.row{
    content: " ";
    display: table;
    
}

.row .col
{
    position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
/* Slideshow container */
.slideshow-container {
    max-width: 400px;
    position: relative;
    margin: auto;
  }
  
  .slideshow-container .mySlides.fade {
    max-width: 400px;
    position: relative;
    margin: auto;
    height: 400px; /* Aggiungi questa riga per impostare l'altezza fissa */
  }
  
  .slideshow-container .mySlides.fade img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Aggiungi questa riga per ridimensionare le immagini mantenendo l'aspetto corretto */
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #000000;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 2}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  }

  /*COUPON*/
.contenuto{
    position: relative;
    text-align: center;
    border: 1px solid black;
    width: 26%;
    height: auto;
    margin: 50px 30%;
    padding: 2% 7%;
}

.contenuto h1{
    font-size: 60px;
}

.contenuto h2{
    font-size: 50px;
}

/*AGGIUNGI FAQ*/
#question .te_in{
    width: 60%;
    height: 100px;
    resize: none;
    margin: 0px 20%;
    border: 0.5px solid grey;
    border-radius: 10px;
}

.question{
    text-align: center;
}

#question .lab_in{
    font-size: 30px;
    font-weight: bold;
}

#dati select{
    width: 100px;
}